.advantages {
 border-top: 1px solid #017ecc;
}

.advantages .col {
  text-align: center;
}

.advantages .col span {
  display: block;
}

.advantages .bi {
  font-size: 2em;
  color: #017ecc;
}

.advantages .advantage {
  font-size: 1.4em;
  color: white;
}