.advertising {
  background-color: rgba(0, 0, 0, 0.5);
}

.advertising .carousel-control-prev, .advertising .carousel-control-next {
  display: none;
  width: 30px;
}

.advertising .carousel:hover .carousel-control-prev {
  display: block;
}

.advertising .carousel:hover .carousel-control-next {
  display: block;
}

.carousel-item {
  padding: 0;
}

.advertising .carousel-item img {
  height: 472px;
  width: 750px;
}

.advertising-bottom .side-banner {
  max-height: 317px;
  width: auto;
}