.card {
  border-radius: 6px;
  padding: 0;
  width: 270px;
  overflow: hidden;
}

.card:hover img {
  height: 100%;
  transition: 0.2s;
}

.card-footer {
  transition: 0.2s;
}

.card:hover .card-footer {
  background: rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

.card .card-body {
  padding: 7px;
}

.card-category {
  text-align: center;
  font-weight: bold;
  color: #868686;
}

.card .title-container {
  height: 46px;
  overflow: hidden;
  overflow-wrap: break-word;
}

.card-title {
  font-weight: 600;
  text-decoration: none;
}

.card .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: clip;
  height: 230px;
}

.card img {
  padding: 7px;
  height: 95%;
  width: auto;
  transition: 0.2s;
}

.card .card-footer {
  height: 71px;
  display: flex;
  padding: 7px 0 7px 7px;
}

.card .price-container {
  height: 54px;
  margin-right: auto;
}

.card .price {
  font-size: 18px;
  color: black;
  font-weight: 500;
}

.card .price small {
  font-size: 80%;
}

.card .price s {
  font-size: 15px;
  color: grey;
  text-decoration: grey solid line-through 1px;
  font-weight: 400;
}

.card button {
  border: none;
  font-size: 22px;
  border-radius: 7px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 5px;
}

.card .btn-cart {
  color: white;
  background: orangered;
  padding: 0 8px;
  transition: 0.2s;
}

.card .btn-cart:hover {
  background: #ff6b33;
  transition: 0.2s;

}

.card .btn-star {
  background: none;
  color: #13181e;
  transition: 0.2s;

}

.card .btn-star:hover {
  color: #017ecc;
  transition: 0.2s;

}

.card .pill-container {
  position: absolute;
  text-align: center;
  margin-top: 10px;
  margin-left: 6px;
}

.card .card-pill {
  margin-top: 3px;
  transition: 0.15s;
  width: 13px;
  height: 13px;
  border-radius: 6px;
  font-weight: 500;
  color: transparent;
  display: block;
  overflow: hidden;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
}

.card:hover .card-pill {
  transition: 0.15s;
  width: 75px;
  color: white;
}

.card .sale {
  background: #fd9601;
}

.card .new {
  background: #00bc0a;
}

.card .delivery {
  background: #7b7b7b;
}