.cards-carousel .carousel-control {
  width: 2rem;
  border: none;
}

.cards-carousel .btn {
  font-size: 2em;
  color: #bbbcc0;
  vertical-align: center;
}

.cards-carousel .btn:hover {
  font-size: 2em;
  color: white;
  vertical-align: center;
}