.categories-list .offcanvas-header .h2 {
  border: none;
  border-bottom: 4px solid #3c3f41;
  border-radius: 0;
  font-size: 1.35em;
  color: white;
}

.categories-list .offcanvas-header .btn {
  font-size: 1.5em;
  color: white;
  border: none;
}

.categories-list .offcanvas-header .btn:hover {
  color: #017ecc;
}

.categories-list ul {
    border: none;
    border-radius: 0;
}

.categories-list li {
  background: none;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 4px;
  border: none;
}

.categories-list li a {
  font-size: 1.35em;
  color: #bbbcc0;
  text-decoration: none;
  transition: 0.1s;
  border: none;
  border-left: hidden;
}

.categories-list li a:hover {
  color: white;
  padding-left: 7px;
  border-left: 5px #017ecc solid;
}