.categories-list .offcanvas-header .h2 {
  border: none;
  border-bottom: 4px solid #3c3f41;
  border-radius: 0;
  font-size: 1.35em;
  color: white;
}

.category-tab {
  display: none;
  overflow-y: scroll;
  height: 100%;
  padding: 15px;
  color: white;
}

.categories-list .offcanvas-header .btn {
  font-size: 1.5em;
  color: white;
  border: none;
}

.categories-list .offcanvas-header .btn:hover {
  color: #017ecc;
}

.categories-list ul {
  border: none;
  border-radius: 0;
  padding-top: 10px;
}

.categories-list li {
  transition: 0.1s;
  background: none;
  border-radius: 4px;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 4px 0;
  border: none;
  border-left: 4px solid transparent;
}

.categories-list li a {
  font-size: 16px;
  font-weight: 450;
  color: #bbbcc0;
  text-decoration: none;
  transition: 0.1s;
}

.tab-toggle {
  display: block;
}

.categories-list li img {
  margin: 0 15px;
  height: 25px;
  width: auto;
}