.footer {
  background: black;
  border-top-width: 1px;
  border-top-color: #017ecc;
  border-top-style: solid;
}

.footer .list-group-item {
  background: none;
  padding: 0;
}

.footer .list-group a {
  font-size: 1.1em;
  color: #bbbcc0;
  text-decoration: none;
}

.footer .list-group a:hover {
  color: white;
}

.footer h4 {
  color: white;
  border-bottom: #7b7d80 1px solid;
  padding-bottom: 10px;
}

.footer .list-group .bi {
  font-size: 1.7em;
}

.feedback, .subscribe {
  padding: 10px 20px;
  font-size: 1.1em;
  background: #017ecc;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  border: #017ecc 2px solid;
  transition: 0.2s;
}


.feedback:hover, .subscribe:hover {
  background: none;
}

.footer .social-media .links {
  background: #3c3f41;
  border-radius: 10px;
}

.footer .social-media a {
  font-size: 2em;
  text-decoration: none;
  border-radius: 12px;
  color: #bbbcc0;
  transition: 0.1s;
  padding-left: 6px;
  padding-right: 6px;
}

.footer .social-media a:hover {
  background: white;
}

.footer .telegram:hover, .footer .twitter:hover {
  color: #017ecc;
}

.footer .facebook:hover {
  color: #1919d2;
}

.footer .youtube:hover {
  color: red;
}
