.modal-content {
  border: none;
  border-radius: 0;
}

.modal .btn {
  font-size: 1.35em;
  color: white;
  background: none;
  border: none;
  border-radius: 0;
}

.modal-content {
  background: #151515;
}

.alert {
  background: #3c3f41;
  border-radius: 0;
}

.close:hover {
  color: #bb2d3b;
}


.bi-check-all:hover {
  color: #00c026;
}
