.offer-card {
  position: relative;
  height: 472px;
  background: rgba(25, 25, 25, 0.5);
  overflow: hidden;
  border-radius: 10px;
}

.offer-card::before {
  content: "";
  position: absolute;

  width: 100%;
  height: 100%;
  background: #017ecc;

  top: -80%;
  transform: skewY(345deg);

  transition: 0.35s;
}

.offer-card:hover::before {
  top: -45%;
}

.offer-card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}

.offer-card .card-image {
  height: 300px;
  width: auto;
}

.offer-card .contentBox {
  position: relative;
  z-index: 2;
}

.offer-card .contentBox a {
  align-self: center;
  font-size: 1.5em;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

.offer-card .contentBox .price {
  font-size: 24px;
  color: #bbbcc0;
  font-weight: 700;
  letter-spacing: 1px;
}

.offer-card .contentBox .row {
  position: relative;
  top: 55px;
  transition: 0.2s;
}

.offer-card:hover .contentBox .row {
  top: 0;
}

.offer-card .buy-now {
  color: #191919;
  background: #017ecc;
  border-radius: 10px;
}

.offer-card .buy-now:hover {
  color: #191919;
  background: white;
}

.offer-card .card-btn {
  color: white;
}

.offer-card .card-btn:hover {
  color: #017ecc;
}
