.simple-card {
  position: relative;
  height: 472px;
  background: rgba(25, 25, 25, 0.5);
  overflow: hidden;
  border: 3px rgba(25, 25, 25, 0.1) solid;
  transition: 0.2s;
}

.simple-card:hover {
  border: 3px rgba(1, 126, 204, 0.7) solid;
}

.simple-card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}

.simple-card .card-image {
  height: 300px;
  width: auto;
}

.simple-card .contentBox {
  position: relative;
  z-index: 2;
}

.simple-card .contentBox a {
  align-self: center;
  font-size: 1.5em;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

.simple-card .contentBox .price {
  font-size: 24px;
  color: #bbbcc0;
  font-weight: 700;
  letter-spacing: 1px;
}

.simple-card .buy-now {
  color: #191919;
  background: #017ecc;
  border-radius: 10px;
}

.simple-card .buy-now:hover {
  color: #191919;
  background: white;
}

.simple-card .card-btn {
  color: white;
}

.simple-card .card-btn:hover {
  color: #017ecc;
}

.simple-card .contentBox .row {
  position: relative;
  top: 50px;
  transition: 0.2s;
}

.simple-card:hover .contentBox .row {
  top: 0;
}