.navbar {
  background: black;
}

.navbar-mobile {
  display: none;
}

.t-nav {
  border-top-width: 1px;
  border-top-color: #017ecc;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #017ecc;
  border-bottom-style: solid;
}

.b-nav {
  border-top-width: 1px;
  border-top-color: #017ecc;
  border-top-style: solid;
}

.navbar .categories {
  border: none;
  border-bottom: 4px solid #3c3f41;
  border-radius: 0;
  font-size: 1.35em;
  color: white;
}

.categories-mobile {
  display: none;
}

.navbar .categories:hover {
  color: white;
  border-bottom: 4px solid #017ecc;
}

.navbar .categories:focus {
  color: white;
  border-bottom: 4px solid #017ecc;
}

.navbar .search {
  background: #017ecc;
  border: none;
  border-radius: 0;
  color: white;
}

.navbar .search:hover {
  background: #4080df;
  color: white;
}

.navbar .search:focus {
  background: #4080df;
  color: white;
}

.navbar .nav-links {
  background: #3c3f41;
}

.navbar .nav-links-mobile {
  background: #3c3f41;
}

.navbar .nav-link {
  font-size: 1.35em;
  color: #bbbcc0;
  background: none;
  border: none;
  transition: 0.2s;
}

.navbar .nav-link:hover {
  color: white;
}

.navbar .nav-link:focus {
  color: white;
}

@media screen and (max-width: 960px) {
  .categories {
    display: none;
  }

  .categories-mobile {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .navbar-mobile {
    display: block;
  }

  .nav-links {
    display: none;
  }
}